.works{
	margin-bottom: 2rem;
	.work-grid{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 3rem;
		padding-bottom: 4rem;
		justify-items: center;

	}
	.services{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.service{
			flex-basis: 25%;
			margin-top: 1rem;
		}
	}
}

