$dark_bg: #041C32;
$blue: #bee9fd;
$pale-orange: #ECB365;
$white-smoke: #EEEEEE;

$Navy:#0a192f;
$Light-Navy:#112240;
$Lightest-Navy:	#233554;
$Slate:	#8892b0;
$Light-Slate:#b6c0dd;
$Lightest-Slate:#e0e7ff;
$White:	#e6f1ff;
$Green:	#64ffda;
$Frobot: 'Roboto', sans-serif;
$Font-poppins: 'Poppins', sans-serif;
$Small-margin: 1rem;
$Medium-margin: 2rem;
$Big-margin: 3rem;


//
$dark-grey: #112B3C;
$paragraph-color: #253c4c;
$green: #67923d;